<agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="true"
        >

    <agm-marker
            *ngFor="let m of mapData; let i = index"

            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [markerDraggable]="m.draggable"
            >

        <agm-info-window>
            <strong>InfoWindow content</strong>
        </agm-info-window>

    </agm-marker>

    <!--agm-circle [latitude]="lat + 0.3" [longitude]="lng"
        [radius]="5000"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true">
    </agm-circle-->

</agm-map>


<!--<div fxFlex="50%" class="upload-scan-cover upload-btn-wrapper cursor position_relative">
    <input class="cursor" type="file" name="file" (change)="onFileChange($event)">
    <i class="fas fa-upload upload-icon-big txt-theme-green"></i>
    <p class="mb10">Upload</p>
    <button (click)="fileSubmit()"> Upload </button>
</div>-->

<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
</div>
<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<h1>Changes Done</h1>
