<div class="row">
    <div class="col-12 text-right p-2">
        <button type="submit" (click)="backClick()">Back</button>
    </div>
</div>
<mat-card-title>Attribute</mat-card-title>
<mat-card>
    <div class="w-100 pr-1  mr-2">
        <div class="row mb-3 mr-2 ml-3">
            <div class="col-md-4 user_card" *ngFor="let cust of result" >
                <div class="card d-flex flex-row border rounded">
                    <div class="pl-2 pt-2 pr-2 pb-2 w-65 border-left" >
                        <ul class="m-0 float-left address_book" style="list-style: none; margin:0; padding: 0" >
                            <li><strong>ID : </strong>{{cust.id}}</li>
                            <li><strong>Category : </strong>{{cust.category}}</li>
                            <li><strong>Type : </strong>{{cust.type}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>
