
<div class="row">
    <div class="col-12 text-right p-2">
        <input type="text" [(ngModel)]="eventSearch" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search" (click)="searchClick()"></i></button>
    </div>
</div>
<mat-card-title>Content</mat-card-title>
<mat-card>
    <div class="w-100 pr-1  mr-2">
        <div class="row mb-3 mr-2 ml-3">
            <div class="col-md-4 user_card" *ngFor="let cust of result" >
                <div class="card d-flex flex-row border rounded" (click)="clickContent(cust.Attribute)">
                    <div class="pl-2 pt-2 pr-2 pb-2 w-65 border-left" >
                        <ul class="m-0 float-left address_book" style="list-style: none; margin:0; padding: 0" >
                            <li><strong>ID : </strong>{{cust.id}}</li>
                            <li><strong>Date : </strong> {{cust.date}}</li>
                            <li><strong>UUID : </strong> {{cust.uuid}}</li>
                            <li><strong>Info : </strong> {{cust.info}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<mat-paginator [length]="pageLength"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPaginateChange($event)">
</mat-paginator>
